<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Zitec_Branding>
            <version>0.1.0</version>
        </Zitec_Branding>
    </modules>
    <global>
        <models>
            <zitec_branding>
                <class>Zitec_Branding_Model</class>
                <resourceModel>zitec_branding_resource</resourceModel>
            </zitec_branding>
            <zitec_branding_resource>
                <class>Zitec_Branding_Model_Resource</class>
                <entities>
                    <branding>
                        <table>zitec_branding</table>
                    </branding>
                    <store>
                        <table>zitec_branding_store</table>
                    </store>
                </entities>
            </zitec_branding_resource>
        </models>
        <resources>
            <zitec_branding_setup>
                <setup>
                    <module>Zitec_Branding</module>
                    <class>Zitec_Branding_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zitec_branding_setup>
        </resources>
        <blocks>
            <zitec_branding>
                <class>Zitec_Branding_Block</class>
            </zitec_branding>
        </blocks>
        <helpers>
            <zitec_branding>
                <class>Zitec_Branding_Helper</class>
            </zitec_branding>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zitec_branding before="Mage_Adminhtml">Zitec_Branding_Adminhtml</zitec_branding>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <zitec_branding>
                    <file>z_branding.xml</file>
                </zitec_branding>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zitec_Branding>
                    <files>
                        <default>Zitec_Branding.csv</default>
                    </files>
                </Zitec_Branding>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <zitec_branding>
                    <file>z_branding.xml</file>
                </zitec_branding>
            </updates>
        </layout>
    </frontend>
</config>